.form {
	width: 100%;
	justify-content: space-between;
	margin-top: 20px;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	margin-bottom: 50px;
	
}

.button {
	align-self: center;
	width: 80px;
	height: 40px;
}

@media only screen and (max-width: 600px) {
  .button {
		margin:20px;
	}
}